/* Start Global styles */

* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

html {
   scroll-behavior: smooth;
}

body {
   font-family: "Cairo", sans-serif;
   font-size: 16px;
   line-height: 1.5;
   background-color: #f0f0f0;
   color: #333;
}

a {
   text-decoration: none;
   color: #333;
   transition: 0.5s;
}

ul {
   list-style: none;
}

/* Section header  */

.special-heading {
   text-align: center;
   padding: 40px 0;
}

.special-heading h1 {
   display: inline;
   padding: 0 20px;
   border: 3px solid black;
   position: relative;
   z-index: 5;
   font-size: 36px;
}

@media (max-width: 400px) {
   .special-heading h1 {
      font-size: 24px;
   }
}

.special-heading h1:hover {
   animation: headingAnimation 0.5s;
   animation-fill-mode: forwards;
   animation-delay: 0.3s;
}

@keyframes headingAnimation {
   100% {
      border-color: transparent;
      color: white;
   }
}

.special-heading h1::before,
.special-heading h1::after {
   position: absolute;
   content: "";
   width: 10px;
   height: 10px;
   border-radius: 50%;
   background-color: #2196f3;
   top: 50%;
   transform: translateY(-50%);
   transition: 0.5s;
}

.special-heading h1::before {
   left: -30px;
}

.special-heading h1::after {
   right: -30px;
}

@media (max-width: 400px) {
   .special-heading h1::before {
      left: -20px;
   }

   .special-heading h1::after {
      right: -20px;
   }
}

.special-heading h1:hover::before,
.special-heading h1:hover::after {
   top: 0;
   width: 51%;
   height: 100%;
   transform: translateY(0);
   border-radius: 0;
   z-index: -1;
}

.special-heading h1:hover::before {
   left: 0;
}

.special-heading h1:hover::after {
   right: 0;
}

/* End Global Styles */

/* Header styles */

header {
   position: fixed;
   width: 100%;
   left: 0;
   z-index: 9999;
   background-color: #333;
   color: #fff;
   padding: 0 20px;
}

header .toggle-menu {
   color: white;
   font-size: 22px;
}
@media (min-width: 767px) {
   header .toggle-menu {
      display: none;
   }

}

header .logo {
   width: 250px;
}

header .logo img {
   width: 100%;
}

.header-container {
   display: flex;
   justify-content: space-between;
   align-items: center;
}
header ul {
   display: flex;
   flex-wrap: wrap;
}
@media (max-width: 767px) {
   header ul {
      display: none;
   }
   header ul li {
      margin: 10px 0;
   }
   header i:hover + ul {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      position: absolute;
      top: 100%;
      left: 15px;
      background-color: rgba(0, 0, 0, 0.5);
      width: calc(100% - 30px);
   }
   header li:first-of-type::after,
   header ul i {
      display: none;
   }
}
header ul li {
   padding: 0 10px;
   position: relative;
   z-index: 3;
}
header i {
   padding-left: 10px;
   color: white;
   font-size: 20px;
}
header a {
   text-decoration: none;
   color: white;
   font-size: 14px;
   transition: .3s;
}
header li:hover a {
   color: #2196f3;
}

main {
   padding-top: 100px;
}

h1 {
   font-size: 2.5em;
   margin: 1em 0;
   text-align: center;
   color: #333;
}

form {
   max-width: 600px;
   margin: 0 auto;
   background-color: #fff;
   padding: 2em;
   border-radius: 10px;
   box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

label {
   display: block;
   font-size: 1.2em;
   margin: 1em 0 0.5em;
   color: #333;
}

input[type="text"],
input[type="email"],
input[type="tel"],
select {
   width: 100%;
   padding: 0.5em;
   font-size: 1.2em;
   margin-bottom: 1em;
   border: none;
   border-radius: 5px;
   box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}

select {
   -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
   background: url('https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-ios7-arrow-down-512.png') no-repeat center right;
   background-size: 20px;
   padding-right: 25px;
}

button[type="submit"] {
   display: block;
   width: 100%;
   background-color: #2196f3;
   color: #fff;
   padding: 0.5em;
   border: none;
   border-radius: 5px;
   font-size: 1.2em;
   margin-top: 1em;
   cursor: pointer;
   transition: .3s;
}

button[type="submit"]:hover {
   background-color: #555;
}

footer {
   background-color: #333;
   color: #fff;
   padding: 1em;
   text-align: center;
   margin-top: 2em;
   font-size: 0.8em;
}

@media only screen and (max-width: 600px) {
   form {
      padding: 1em;
   }

   button[type="submit"] {
      font-size: 1em;
   }

   select {
      background-size: 15px;
      padding-right: 20px;
   }
}

/* Start Footer */

footer {
   margin-top: 60px;
   background-color: #333;
   color: #fff;
   padding: 20px 0;
}

.footer-container {
   max-width: 1200px;
   margin: 0 auto;
   text-align: center;
}

.footer-container a {
   color: #fff;
   text-decoration: none;
}

/* End Footer  */